
<div id="shiplist-send-container">
  <a class="close"></a>

  <div class="left">
    <label for="recipient">Recipient</label>
    <input class="col-1" id="recipient" name="recipient" value="Enter recipients email" />
    <label for="recipient">Message</label>
    <textarea class="col-1" id="shiplist_message" name="shiplist_message" >
      Please enter your message here
    </textarea>
  </div>
  <div class="right">
    <a href="#" class="send-now">Send Now</a>
  </div>

</div>